@font-face {
	font-family: "Caviar";
	src: url("/fonts/CaviarDreams.ttf");
}
body {
	background-image: url("/images/cloudsbw.jpg");
}
.content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.banner {
	font-family: "Caviar", serif;
	font-size: 56px;
	text-align: center;
	margin-bottom: 30px;
	background-color: white;
	padding-bottom: 30px;
	padding-top: 2px;
}
.banner img{
	
}
.bar {
	font-family: "Georgia", serif;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
	line-height:50px;
	background-color: white;
	color: black;
	margin-top: 30px;

}
.bar img{
	height: 200px;
}

.body {
	font-family: "Georgia",serif;
	font-size: 16px;
	text-align: left;
	padding:5px;
	line-height: 150%;
	background-color:white;
	list-style-type: none;

}
.body h1{
	font-family: "Georgia", serif;
	font-size: 26px;
	font-weight: bold;
	line-height: normal;
	text-align: center;
	padding:0px;
	padding-right:20px;
	text-transform: lowercase;
}
.body h2{
	font-size: 24px;
	font-weight: normal;
	font-family: "Caviar", sans-serif;
	line-height: 26px;
}
.p1{
	font-size: 13px;
	text-align: center;
}

.posts {
	font-family:"Georgia",serif;
	text-align:left;
	margin-left:10px;
	background-color: white;
	padding-left: 10px;
	font-weight: normal;
	text-transform: lowercase;
}
.posts h1{
	font-size:28px;
	font-weight:normal;

}
.posts h2{
	font-size:18px;
	font-weight:normal;
}
.posts span{

}




ul.enlarge{
list-style-type:none; /*remove the bullet point*/
}
ul.enlarge li{
display:inline-block; /*places the images in a line*/
position: relative; /*allows precise positioning of the popup image when used with position:absolute - see support section */
z-index: 0; /*resets the stack order of the list items - we'll increase in step 4. See support section for more info*/
margin:10px 40px 0 20px; /*space between the images*/
}
a {
	color: inherit;
}
